*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style :none;
}
html {
    scroll-behavior: smooth;
}
.navbar { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ffffff;
    padding: 0.9rem 3rem;
    border-bottom: 1px solid rgb(219, 217, 217);
    box-shadow: 0px 0px 6px 0.3px;
    
}

.header {
    position:sticky;
    top:0px;
}
.navbar ul{

    display: flex;
    justify-content: flex-end;
    
}

.navbar ul li {
    margin : 0 0 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.95rem;
    color:#000;
    font-weight: 550;
    cursor: pointer;
    transition:0.25s;
    
}
.navbar ul li a{
    display: inline-block;
    text-decoration: none;
    color:black;
    transition: 200ms linear ;
    
}
.navbar ul li a:hover {
    color:blue;
}
.navbar ul li a::after {
    content: " ";
    display: block;
    width: 0;
    height:3px;
    background: #ffa72b;
    transition: width 0.2s ease-in;
}
.navbar ul li a:hover::after {
    color: blue;
    /* border-bottom:3px solid #ffa72b; */
    width: 100%;

}
.name {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 550;
    cursor: pointer;
}

.about {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:3rem;
    padding-top: 10rem;
    height:90vh;
    /* border-bottom:1px solid rgb(220, 217, 217); */
}

.info {
    /* background-color: rgb(149, 149, 197); */
    padding:1.5rem;

}
.info-text {
    margin-bottom:1rem ;
    font-family: 'Roboto', sans-serif;
}
.info-text h1 {
    font-size: 3rem;
}
#pro-name {
    color:blue;
}
#pro-contact-btn{
    padding:8px 20px;
    background-color: blue;
    color: #fff;
    border:none;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.25s;
    
}
#pro-contact-btn a{
    color:white;
    text-decoration: none;
    transition: 0.25s;
}
#pro-contact-btn:hover {
    background-color: #ffa72b;
}

.social-media {
    padding:1rem 0;
    margin-top:2rem;
}
.social-media ul {
    display: flex;
}
.social-media ul li {
    padding:10px 10px 10px 0px;
    font-size: 2rem;
    cursor: pointer;
    transition:0.2s;
}
.social-media ul li a{
    color: #000;
    font-size: 2.5rem;
}
.social-media ul li a:visited{
    color:black;

}
.social-media ul li:hover {
    translate: 0px -10px;
   

}
.social-media ul li a:hover{
    color:rgb(255, 128, 0);
}

#pro-pic {
    height: 300px;
    width: 300px;
    border-radius:70% 30% 47% 53% / 33% 36% 64% 67%  ;
    border:2px solid blue;
    box-shadow: 0 0px 12px 2px rgb(78, 78, 249);
    cursor: pointer;
    transition: border-radius 300ms ease-in-out;
}

#pro-pic:hover {
    border-radius : 26% 74% 28% 72% / 63% 59% 41% 37% ;
}
.skills {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:5rem;
    height:60vh;
    
    /* border-bottom:1px solid rgb(220, 217, 217); */
}
.skills-list-heading {
    font-family: 'Roboto', sans-serif;
    border-bottom: 5px solid blue;
    
}

.skills ul {
    display: flex;
    flex-wrap: wrap;

}
.skills ul li {
    font-size: 5rem;
    padding: 2rem;
    cursor: pointer;
    transition:0.3s;
}
.skills ul li:hover {
    color: blue;
}

#about-container {
    display: flex;
    flex-direction: column;
    padding:9rem 15rem 6rem 16rem;
    /* border-bottom:1px solid rgb(220, 217, 217); */
    background-color: #eeeded;
}

#about-container h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
}
#about-container p{
    font-family: 'Roboto', sans-serif;
    font-size: larger;


}

#project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:9rem 15rem 6rem 16rem;
    /* border-bottom:1px solid rgb(220, 217, 217); */
    background-color: #eeeded;

}

.project-list {
    display: flex;
    flex-wrap: wrap;
    

    
}
.project-list div {
    padding:1rem;   
}
#project-img {
    height:195px;
    width:290px;
    border-radius: 7px;
    transition: 0.25s;
}
#project-img:hover {
    transform:scale(1.09);

}
.project li a{
    color:black;
    text-decoration: none;
}
.project li a:visited{
    color:rgb(255, 0, 132);
}
.project li a:hover {
    color: blue;
}
.heading-text {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
}

.project {
    padding:0.5rem;
    /* line-height:1.5rem; */
    background-color: #ebe9e5;
    margin:10px;
    border-radius: 7px;
    width:20rem;
    box-shadow: 1px 1px 8px 2px #000000;
    cursor: pointer;

}

.project-title {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-top: 10px;;
    margin-bottom: 10px;

}
.project-info {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.project-btn {
    display: flex;
    margin-top:10px;    
   
    cursor: pointer;
    border-radius: 50%;
    /* border:none; */
    transition: 300ms;
    align-items: center;
    justify-content: center;
    
}

.project-btn:hover {
    transform:scale(1.5)
}

#contact-container {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    height:90vh;
}

.page-header *{
    font-size: 2rem;
    margin-left:1.2rem;
    margin-bottom: 20px;
}
.page-header{
    display: flex;
}
.page-header h2{
    font-family: 'Roboto', sans-serif;
    
}
.container {
    height: 80vh;
    width:70%;
    padding:4rem;
}
fieldset {
    margin:1.2rem;
    display: flex;
    flex-direction: column;
    border:none;
}

fieldset *{
    margin-bottom:7px;
}

input {
    height:2rem;
    border:none;
    border-bottom:3px solid blue;
}
textarea {
    height:4rem;
    border:none;
    border-bottom: 3px solid blue;
    overflow: auto;
    resize: vertical;
    background: none;
    /* color:white; */
    
}

#sendBtn {
    align-items: center;
    background-color: blue;
    height:2.3rem;
    width:7rem;
    border:none;
    border-radius: 4px;
    color:#fff;
    cursor: pointer;
    transition:0.25s;
}
#sendBtn:hover {
    background-color: #ffa72b;
}
input:focus {
    outline:none;
}
textarea:focus {
    outline:none;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2.5rem;
    background-color: #5763f2;
    color:#fff;
}

@media screen and (max-width: 800px) {
    .about {
        padding:2.5rem;
        padding-top: 8rem;
        height:80vh;
    }
    .info-text h1 {
        font-size: 2rem;
    }
    #pro-contact-btn{
        padding:6px 15px;
        
    }
    .social-media {
        padding:0.7rem 0;
        margin-top:1.6rem;
    }
    
    .social-media ul li {
        padding:8px 8px 8px 0px;
        font-size: 1.4rem;

    }
    #pro-pic {
        height: 220px;
        width: 220px;
        
    }
    #about-container {
        padding:5rem 7rem ;
        padding-top:2rem;   
        height:100vh;
        }
    #about-container h1 {
        font-size: 3rem;
    }
    #about-container p{
        font-size: large;
    }
    .skills {
        padding:4rem;
        height:100%;
    }
    .skills-list-heading {
    margin-top:2.5rem;
    font-size: 2rem;
    }
    .skills ul li {
        font-size: 4rem;
        padding: 1.7rem;
        width:6rem;
        
    }
    #project-container {
        padding:8rem 8rem 8rem 8rem;
    
    }
    #project-img {
        height:185px;
        width:280px;

    }
    .heading-text {
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
    }
    .project-title {
        font-size: 2rem;
        margin-top: 10px;;
        margin-bottom: 10px;
    
    }
    .project-info {
        font-size: 1rem;
    }
    .page-header *{
        font-size: 1.5rem;
        margin-left:1rem;
        margin-bottom:16px;
    }
    #sendBtn {

        height:2rem;
        width:5rem;

    }

}


@media screen and (max-width: 590px) {
    .about {
        padding:2rem;
        padding-top: 4rem;
        height:60vh;
    }
    .info-text h1 {
        font-size: 1.4rem;
    }
    #pro-contact-btn{
        padding:4px 11px;
        
    }
    .social-media {
        padding:0.4rem 0;
        margin-top:1.2rem;
    }
    
    /* .social-media ul li {
        padding:5px 5px 5px 0px;
        font-size: 1rem;

    } */
    .social-media ul li a i{
        font-size: 1.5rem;
        padding:0;

    }
    #pro-pic {
        height: 180px;
        width: 180px;
        
    }
    #about-container {
        padding:2rem 4rem ;
        padding-top:2rem;
        height: 100%;


    }
    #about-container h1 {
        font-size: 2.5rem;
    }
    #about-container p{
        font-size: medium;
    }
    .skills {
        padding:3.5rem;
        height:100%;
    }
    .skills-list-heading {
    margin-top:2.5rem;
    font-size: 1.8rem;
    }
    .skills ul li {
        font-size: 3rem;
        padding: 1.4rem;
        width: 4rem;
        
    }
    .progresscontainer{
        width:300px;
    }
    #project-container {
        padding:6rem 6rem 6rem 6rem;
    
    }
    #project-img {
        height:175px;
        width:270px;

    }
    .heading-text {
        font-size: 1.6rem;
    }
    .project-title {
        font-size: 1.6rem;
        margin-top: 8px;;
        margin-bottom: 8px;
    
    }
    .project-info {
        font-size: 0.8rem;
    }
    .page-header *{
        font-size: 1.2rem;
        margin-left:1rem;
        margin-bottom:16px;
    }
    #sendBtn {

        height:1.8rem;
        width:4rem;
        font-size: 10px;

    }
    .navbar {
        padding:1rem;
    }

    

}
@media screen and (max-width:490px) {
    .nav-item{
        display: none;
    }
    .nav-items-small  {
        visibility: visible;
    }
    .nav-items-small ul li a{
        font-size:smaller;
    }
    .navbar {
        justify-content: center ;
    }
}



@media screen and (max-width: 450px) {
   
    .about {
        padding:0.5rem;
        padding-top: 3rem;
        height:50vh;
        
    }
    .info-text h1 {
        font-size: 1.1rem;
    }
    #pro-contact-btn{
        padding:4px 9px;
        
    }
    .social-media {
        padding:0.3rem 0;
        margin-top:1rem;
    }
    
    /* .social-media ul li {
        padding:5px 5px 5px 0px;
        font-size: 1rem;

    } */
    .social-media ul li a i{
        font-size: 1.1rem;
        padding:0;

    }
    #pro-pic {
        height: 120px;
        width: 120px;
        
    }
    #about-container {
        padding:5rem 2rem ;
        height: 100%;
        padding-top:2rem;
    }
    #about-container h1 {
        font-size: 2.5rem;
    }
    #about-container p{
        font-size: medium;
    }
    .skills {
        padding:3.5rem;
        height:100%;
    }
    .skills-list-heading {
    margin-top:2.5rem;
    font-size: 1.8rem;
    }
    .skills ul li {
        font-size: 3.5rem;
        padding: 1.4rem;
        width: 6rem;
        
    }
    .progresscontainer {
        width: 250px;
        height: 7px;
    }
    .progressbar {
        height:7px;
    }
    #project-container {
        padding:6rem 6rem 6rem 6rem;
    
    }
    #project-img {
        height:175px;
        width:270px;

    }
    .heading-text {
        font-size: 1.6rem;
    }
    .project-title {
        font-size: 1.6rem;
        margin-top: 8px;;
        margin-bottom: 8px;
    
    }
    .project-info {
        font-size: 0.8rem;
    }
    .page-header *{
        font-size: 1.2rem;
        margin-left:1rem;
        margin-bottom:16px;
    }
    #sendBtn {

        height:1.8rem;
        width:4rem;
        font-size: 10px;

    }
    .nav-items-small ul li a{
        font-size:10px;
    }
 

    

}
@media screen and (max-width: 390px) {
    
  
    #about-container {
        padding:3rem 3rem 3rem 3rem;
        height:80vh;
    }
    #about-container h1 {
        font-size: 2rem;
    }
    #about-container p{
        font-size: medium;
    }
    .skills {
        padding:2.5rem;
        height:100%;
    }
    .skills-list-heading {
    margin-top:2rem;
    font-size: 1.1rem;
    }
    .skills ul li {
        font-size: 3rem;
        padding: 1rem;
        
    }
    
    #project-container {
        padding:4rem 4rem 4rem 4rem;
    
    }
    #project-img {
        height:155px;
        width:240px;

    }
    .heading-text {
        font-size: 1.4rem;
    }
    .project-title {
        font-size: 1.4rem;
        margin-top: 8px;;
        margin-bottom: 8px;
    
    }
    .project-info {
        font-size: 0.8rem;
    }
    .page-header *{
        font-size: 1.2rem;
        margin-left:1rem;
        margin-bottom:16px;
    }
    .project {
        padding:0.5rem;
        margin:10px;
        width:17rem;
        
    
    }
    
    #sendBtn {

        height:1.8rem;
        width:4rem;
        font-size: 10px;

    }
    .container {
        padding:1rem;
    }
   #backtop {
    top:600px;
   }
}
